@model IEnumerable<ShipperResponseModel>
<a asp-action="Create" asp-controller="Shipper" class="btn btn-primary" >Add Shipper</a>
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone</th> 
          <th>Option</th>
   
      </tr>
  </thead>
  <tbody>
      @foreach(var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Phone</td> 
                <td>
               <span>
               <a asp-controller="Shipper" asp-action="Edit" asp-route-id="@s.Id" >Edit</a>
               </span>
               <span>
               <a asp-controller="Shipper" asp-action="Delete" asp-route-id="@s.Id" >Delete</a>
               </span>
               </td>
            </tr>
        }
    </tbody>
</table>